{
  "presets": ["env", "react", "es2015"],
  "plugins": [
    "transform-object-rest-spread",
    "transform-class-properties",
    [
      "import",
      {
        "libraryName": "antd",
        "style": "true"
      }
    ]
  ]
}
